$white: #fcfcfc;
body {
  position: relative;
  background-color: #4d4f57b0;
}
.modal {
  background: #474747;
  padding: 20px;
  box-sizing: border-box;
  width: 200px;
  height: 100vh;
  &__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    p {
      color: $white;
    }
    button {
      height: fit-content;
    }
  }
}

.popup__container {
  position: fixed;
  background: #0000005b;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 10000;
  text-align: center;
  p {
    font-weight: 600;
    font-size: 6rem;
    color: $white;
    margin: 0px;
  }
}
